body {
  font-family: 'Gotham';
  color: #fff; }

.hidden {
  display: none;
  opacity: 0; }

a {
  text-decoration: none;
  color: initial; }

/*  FLEXIE FRAMEWORK    */
/*  PABLO E. LUJAMBIO   */
/*  RESET               */
/* This part resets several stylesheet characteristics that are practical to reset. */
* {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  margin: 0 0;
  padding: 0 0;
  width: auto;
  height: auto;
  text-decoration: none;
  font-weight: normal;
  background: none;
  border: medium none;
  border-spacing: 0;
  font-weight: normal;
  text-decoration: none;
  text-indent: 0;
  box-sizing: border-box;
  position: relative; }

section {
  display: block; }

a {
  color: #FAFAFA; }

html,
body {
  height: 100%;
  width: 100%; }

title, script {
  display: none; }

span {
  margin: 0;
  padding: 0; }

/* INPUT FORMS RESET */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  box-sizing: border-box;
  background-clip: padding-box;
  border-radius: 0;
  background-color: none;
  color: none;
  outline: 0;
  margin: none;
  padding: none;
  text-align: left;
  font-size: 1em;
  height: auto;
  vertical-align: middle;
  border-width: none; }

input:not([type="checkbox"]) {
  -webkit-appearance: none; }

/*      FONT-SIZES      */
h1 {
  font-size: 72px; }

h2 {
  font-size: 56px; }

h3 {
  font-size: 48px; }

h4 {
  font-size: 36px; }

h5 {
  font-size: 24px; }

h6 {
  font-size: 18px; }

p {
  font-size: 21px; }

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden; }

#background {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  z-index: 0;
  background: #fc668d; }
  #background #image {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/intro.png");
    z-index: 1;
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: center bottom; }
  #background #overlay {
    background-color: #0b1631;
    background: -webkit-linear-gradient(60deg, #0b1631 0%, rgba(11, 22, 49, 0) 100%);
    background: linear-gradient(30deg, #0b1631 0%, rgba(11, 22, 49, 0) 100%);
    opacity: 0.93;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; }

#intro {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1; }
  #intro p {
    width: 100%;
    box-sizing: border-box;
    padding: 36px;
    font-size: 18px;
    line-height: 150%; }
    #intro p span {
      font-weight: 900;
      font-size: 36px;
      letter-spacing: 4px; }

/*# sourceMappingURL=intro.css.map */