body {
  font-family: 'Gotham';
  color: #fff; }

.hidden {
  display: none;
  opacity: 0; }

a {
  text-decoration: none;
  color: initial; }

/*  FLEXIE FRAMEWORK    */
/*  PABLO E. LUJAMBIO   */
/*  RESET               */
/* This part resets several stylesheet characteristics that are practical to reset. */
* {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  margin: 0 0;
  padding: 0 0;
  width: auto;
  height: auto;
  text-decoration: none;
  font-weight: normal;
  background: none;
  border: medium none;
  border-spacing: 0;
  font-weight: normal;
  text-decoration: none;
  text-indent: 0;
  box-sizing: border-box;
  position: relative; }

section {
  display: block; }

a {
  color: #FAFAFA; }

html,
body {
  height: 100%;
  width: 100%; }

title, script {
  display: none; }

span {
  margin: 0;
  padding: 0; }

/* INPUT FORMS RESET */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  box-sizing: border-box;
  background-clip: padding-box;
  border-radius: 0;
  background-color: none;
  color: none;
  outline: 0;
  margin: none;
  padding: none;
  text-align: left;
  font-size: 1em;
  height: auto;
  vertical-align: middle;
  border-width: none; }

input:not([type="checkbox"]) {
  -webkit-appearance: none; }

/*      FONT-SIZES      */
h1 {
  font-size: 72px; }

h2 {
  font-size: 56px; }

h3 {
  font-size: 48px; }

h4 {
  font-size: 36px; }

h5 {
  font-size: 24px; }

h6 {
  font-size: 18px; }

p {
  font-size: 21px; }

@font-face {
  font-family: 'Gotham';
  src: url("fonts/GothamBold.eot");
  src: url("fonts/GothamBold.eot?#iefix") format("embedded-opentype"), url("fonts/GothamBold.woff") format("woff"), url("fonts/GothamBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Gotham';
  src: url("fonts/Gotham-Black.eot");
  src: url("fonts/Gotham-Black.eot?#iefix") format("embedded-opentype"), url("fonts/Gotham-Black.woff") format("woff"), url("fonts/Gotham-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Gotham';
  src: url("fonts/GothamMedium.eot");
  src: url("fonts/GothamMedium.eot?#iefix") format("embedded-opentype"), url("fonts/GothamMedium.woff") format("woff"), url("fonts/GothamMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Gotham';
  src: url("fonts/GothamMedium-Italic.eot");
  src: url("fonts/GothamMedium-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/GothamMedium-Italic.woff") format("woff"), url("fonts/GothamMedium-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Gotham';
  src: url("fonts/GothamLight.eot");
  src: url("fonts/GothamLight.eot?#iefix") format("embedded-opentype"), url("fonts/GothamLight.woff") format("woff"), url("fonts/GothamLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Gotham';
  src: url("fonts/GothamLight-Italic.eot");
  src: url("fonts/GothamLight-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/GothamLight-Italic.woff") format("woff"), url("fonts/GothamLight-Italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Ardelaney';
  src: url("fonts/ARDELANEY.eot");
  src: url("fonts/ARDELANEY.eot?#iefix") format("embedded-opentype"), url("fonts/ARDELANEY.woff") format("woff"), url("fonts/ARDELANEY.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
[data-contents="main"] {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: url(../img/menu/sweet.jpg);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position-x: 50% !important;
  background-position-y: 20% !important; }
  [data-contents="main"] [data-view] .transparent {
    height: 100vh;
    width: 100%;
    position: fixed;
    mix-blend-mode: multiply;
    background-color: rgba(94, 101, 119, 0.05); }
  [data-contents="main"] [data-view] h1 {
    color: #fc668d;
    text-transform: uppercase;
    -webkit-text-stroke: 2px white;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    position: absolute;
    padding-top: 144px;
    top: 40%;
    max-width: 320px;
    left: calc(50% - 160px);
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-animation: move 4s 0s infinite ease-in;
            animation: move 4s 0s infinite ease-in; }
  [data-contents="main"] a {
    font-weight: 300;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 10px;
    color: white;
    z-index: 2;
    height: 50px; }
  [data-contents="main"] img {
    width: 50px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translatex(-50%);
        -ms-transform: translatex(-50%);
            transform: translatex(-50%); }

@-webkit-keyframes move {
  0%, 50%, 100% {
    -webkit-transform: rotateZ(3deg);
            transform: rotateZ(3deg); }
  25%, 75% {
    -webkit-transform: rotateZ(-3deg);
            transform: rotateZ(-3deg); } }

@keyframes move {
  0%, 50%, 100% {
    -webkit-transform: rotateZ(3deg);
            transform: rotateZ(3deg); }
  25%, 75% {
    -webkit-transform: rotateZ(-3deg);
            transform: rotateZ(-3deg); } }

/*# sourceMappingURL=sweet.css.map */