@import 'reset';
@import 'fonts';
@import 'colors';

[data-contents="tips"] { 
	// position: absolute;
	top: 100%;
	left: 0;
	height: 100vh;
	width: 100%;
	overflow-y: scroll;
	// background: url(../img/tips/bg.jpg);
	// background-color: #fdb2c6;
	// background-color: #ffd700;
	// border-top: 3px solid $strongPink;
	// border-bottom: 3px solid $strongPink;
	background-color: $lightBlue;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed !important; 
	background-position: top center !important;
	[data-tip] {
		position: relative;
		height: 100vh;
		width: 100%;
		overflow-x: hidden;
		// border-bottom: 3px solid $strongPink;
		hr {
			border: 3px solid $strongPink;
		}
		.img-container {
			height: 40vh;
			width: 100%;
			background-size:cover !important; 
			background-position:center center;
		}
		h3 {
			float: right;
			margin-top: 15px;
			color: #fc668d;
			width: 125px;
			text-transform: uppercase;
			font-size: 35px;
			font-weight: bold;
		}
		p {
			position: absolute;
			left: 20px;
			font-size: 15px;
			top: 70%;
			left: 50%;
			color: #fc668d;
			transform: translate(-50%, -50%);
			width: 210px;
			color: black;
		}
	}
	[data-tip="1"] {
		.img-container {
			background-color: $pastelPink;
		}
	}
	[data-tip="2"] {
		.img-container {
			background-color: $pastelPink;
		}
	}
	[data-tip="3"] {
		.img-container {
			background-color: $pastelPink;
		}
	}
}

// media queries
	
	@media screen and (min-width: 375px) {
		[data-contents="tips"] {
			[data-tip] {
				.tip-text {
					p {
						font-size: 18px;
						width: 260px;
					}
				}
			}
		}
	}

	@media screen and (min-width: 768px) {
		[data-contents="tips"] {
			[data-tip] {
				.tip-text {
					p {
						font-size: 20px;
						width: 260px;
					}
				}
			}
		}
	}